body{
    justify-items: center;
    align-items: center;
    align-content: center;
    align-content: center;
    float: left;
}



.card{
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(233, 234, 228);
    border: solid 3px;
    border-radius: 10px;
    width: 280px;
    height: 450px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}
.cards{
    display: flex;
    float: left;
    
}
.card-img-top{
    height:200px
}